## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

## Visual Studio for Mac
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options directory
.vs/

## Local History
.localhistory/

## Blazor
**/wwwroot/service-worker.js
**/wwwroot/service-worker.published.js

## Azure
*.pubxml
*.publishsettings
PublishProfiles/
Properties/PublishProfiles/

## Secrets
appsettings.*.json
!appsettings.example.json
!appsettings.Development.json
*.Development.json
local.settings.json

## Azurite Data
AzuriteData/

## Debug logs and diagnostic files
DEBUG/
log.txt
*.log 
.azure
